<footer class="footer">
	<div class="container">
		<div class="content">
			<p>Content is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> unless otherwise specified.</p>
		</div>
	</div>
</footer>
</body>
</html>
