<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if (.IsHome) }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  {{ .Hugo.Generator }}
  <title>{{ if (not (.IsHome)) }}{{ .Title }} || {{ end }}{{ .Site.Title }}</title>
  <script defer src="/js/bundle.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bundle.css">
</head>
<body>
<section class="hero is-medium is-info is-bold">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            {{ .Site.Title }}
          </a>
          <button class="button navbar-burger" data-target=".main-menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="navbar-menu main-menu">
          <div class="navbar-start">
            
          </div>
          <div class="navbar-end">
            <a href="/" class="navbar-item">Home</a>
            <a href="/games" class="navbar-item">Games</a>
            <a href="/categories" class="navbar-item">Browse by Category</a>
            <a href="/contact" class="navbar-item">Contact</a>
          </div>
        </div>
      </div>
    </nav>  
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      {{ if .Params.subtitle }}
      <p class="subtitle">{{ .Params.subtitle }}</p>
      {{end}}
    </div>
  </div>
</section>
