---
title: "Contact"
type: "page"
permalink: "/contact"
---
<p>Please use the contact form to send messages regarding the content of this site, including if there are any corrections to make, new randomizers to add, or if you have any feedback for this site.</p>

<p>Alternatively, you can fork and open a pull request at <a href="https://gitlab.com/chaoticlaw/game-randomizer-site/">GitLab</a>.</p>

<h1 class="title">Contact form</h1>
<form name="contact" action="/thanks" method="POST" netlify>
	<div class="field">
		<div class="label" for="name">Name</div>
		<div class="control">
			<input class="input" id="name" name="name" type="text" placeholder="John Doe">
		</div>
	</div>
	<div class="field">
		<label class="label" for="message">Message</label>
		<div class="control">
			<textarea class="textarea" id="message" name="message" placeholder="Enter your message here!"></textarea>
		</div>
	</div>
	<div class="field">
		<div class="control">
			<button class="button is-link" type="submit">Send message</button>
		</div>
	</div>
</form>
