{{ partial "header.html" .}}
{{ if .Param "links" }}
<section class="section">
	<div class="container">
		<h1 class="title">Links</h1>
		{{ if .Param "links.homepage"}}
		<a href="{{ .Params.links.homepage }}" class="button is-primary"><i class="fas fa-globe"></i>&nbsp;Homepage</a>
		{{ end }}
		{{ if .Param "links.code"}}
		<a href="{{ .Params.links.code }}" class="button is-info"><i class="fas fa-code"></i>&nbsp;Code</a>
		{{ end }}
	</div>
</section>
{{ end }}
{{ if .Param "screenshots"}}
<section class="section screenshots">
	<div class="container">
		<h1 class="title">Screenshots</h1>
		<div class="tile">
			{{ range .Params.screenshots}}
			  <div class="tile">
			  	<a href="{{ .image }}"><img src="{{ .image }}" alt="{{ .alt }}" class="image"></a>
			  </div>
			{{ end }}
		</div>
	</div>
</section>
{{ end}}
<section class="section">
	<div class="container">
		<h1 class="title">Description</h1>
		<div class="content">{{ .Content }}</div>
	</div>
</section>
{{ partial "footer.html" .}}
