<section class="section">
	<div class="container">
		<div class="content">
			<p>Welcome to the Game Randomizers site, a site which aims to deliver the latest information in randomizers for games.</p>
			<p>What are game randomizers? They are utilities, or patches to modify your game so that the experience is different from before.</p>
		</div>
	</div>
</section>
{{ $posts := where (where .Site.Pages "Type" "randomizers") ".Params.hidefromlist" "!=" "true"}}
<section class="section">
	<div class="container">
		<h1 class="title">Latest Randomizers</h1>
		<div class="tile is-ancestor">
			{{ range first 6 $posts }}
				<a href="{{ .Permalink }}" class="tile is-parent">
					<article class="tile is-child notification is-info">
						<h1 class="title">{{ .Title }}</h1>
						<p class="subtitle">Latest version: {{ .Params.version }}</p>
					</article>
				</a>
			{{end}}
		</div>
	</div>
</section>