{{ partial "header.html" . }}
<section class="section">
	<div class="container">
            {{ range .Paginator.Pages }}
			<article class="post">
				<header class="entry-header">
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
					</div>
					<h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
				</header>
				<div class="entry-content">
					{{ .Content }}
				</div>
			</article>
            {{ end }}

			<ul class="pagination">
                {{ template "_internal/pagination.html" . }}
			</ul>
	</div>	<!-- /container -->
</section>

{{ partial "footer.html" . }}
